
<h1>Add an Investment:</h1>

<p>Company name: <%=@drinkbox.name%></p>
<p>Rate: <%=@drinkbox.rate%>%</p>
<p>Company Worth: £<%=@drinkbox.worth%></p>

<%= form_for @investment  do |f| %>
  <%=  f.hidden_field :companies, :value => @drinkbox.rate %>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <br />
  <%= f.submit %>
<%end%>
 <br />

<p>Company name: <%=@starbucks.name%></p>
<p>Rate: <%=@starbucks.rate%>%</p>
<p>Company Worth: £<%=@starbucks.worth%></p>

<%= form_for @investment  do |f| %>
  <%=  f.hidden_field :companies, :value => @starbucks.rate %>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <br />
  <%= f.submit %>
<%end%>
 <br />

<p>Company name: <%=@monzo.name%></p>
<p>Rate: <%=@monzo.rate%>%</p>
<p>Company Worth: £<%=@monzo.worth%></p>

<%= form_for @investment  do |f| %>
  <%=  f.hidden_field :companies, :value => @monzo.rate %>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <br />
  <%= f.submit %>
<%end%>
 <br />

<p>Company name: <%=@seabin.name%></p>
<p>Rate: <%=@seabin.rate%>%</p>
<p>Company Worth: £<%=@seabin.worth%></p>

<%= form_for @investment  do |f| %>
  <%=  f.hidden_field :companies, :value => @seabin.rate %>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <br />
  <%= f.submit %>
<%end%>
 <br />

<p>Company name: <%=@sourceai.name%></p>
<p>Rate: <%=@sourceai.rate%>%</p>
<p>Company Worth: £<%=@sourceai.worth%></p>

<%= form_for @investment  do |f| %>
  <%=  f.hidden_field :companies, :value => @sourceai.rate %>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <br />
  <%= f.submit %>
<%end%>
 <br />

<%= button_to("All Investments!", investment_path(@current_user), method: :get, :class => "btn btn-success") %>




    
