<h3><%= @current_user.full_name if @current_user %></h3>

<div class="card text-white bg-info mb-3" style="width: 21.5em;margin:0 auto;">
  <div class="card-block">
     <h4 class="card-title">Summary</h4>
     <p class="card-text ml-5 ml-lg-0">
       <h5>You have <%= current_user.account.amount %> <%= current_user.account.currency_name %> in your account now. </h5>


        <p>You have <%= current_user.saving.amount %> <%= current_user.account.currency_name %> savings for now. </p> <%= button_to("Go to your savings", saving_path(@user), method: :get, :class => "btn btn-light btn-sm") %>

        <% if current_user.investments[0] == nil %>
          <p>You don't have any investments yet, <span><%= button_to("make one now!", investment_path(@user), method: :get, :class => "btn btn-light btn-sm") %></span>
         </p>
        <% else %>
          <% current_user.investments.each do |investment| %>
            <%= investment.amount %> <%= current_user.account.currency_name %>
          <% end %>
        <%end %>

        <h5>Send money to your friends :) </h5>
        <%= button_to("Transfer money", new_transfer_path, method: :get, :class => "btn btn-light btn-sm") %>

  </div>
</div>
 <div class="card-footer ml-5 ml-lg-0">
  <div class="bottom">
  <% if @current_user %>
    <%= button_to("Logout", {action: "logout", controller: "sessions"}, method: "delete", class:"btn btn-outline text-white bg-dark ") %>
  <% else %>
    <%= button_to "Login", login_form_path, method: :get, :class => "btn btn-outline-success"%>
  <% end %>
  </div>
</div>
