<h4><%= @user.full_name %></h4> <br>

<h4>Summary</h4>
<p>Your balance: <%= @user.account.amount %> <%= @user.account.currency_name %> </p>

<p>Your savings: <%= @user.saving.amount %> <%= @user.account.currency_name %></p>

<p>Your investment(s): </p>
