<% if current_user %>
  Logged in as <%= current_user.email %>
  <%= link_to 'logout', logout_path %>, 
<% else %>
  <%= link_to 'SignUp', signup_path %> or
  <%= link_to 'LogIn', login_path %>
<% end %>

<p id=”notice”><%= notice %></p>
