<h3>Make a new saving -- <%=@user.first_name %>!</h3> <br>


<h4>Balance: <%= @current_user.account.amount %></h4>
<br>
<h4>Your total Savings -- <%=@saving.amount%></h4>
<br>
<%= button_to("Make a saving!", new_saving_path, method: :get, :class => "btn btn-success") %>
<br>

<p><%= link_to "Account summary", user_path(@user)%></p>
