<h3>What you got: <%= current_user.account.amount%> <%= current_user.account.currency_name%> </h3>

<h1>New Transfer</h1>

<%= form_for @transfer do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :receiver %>
  <%= f.collection_select :receiver_id, @users, :id, :full_name %> <br>

  <%= f.label :amount %>
  <%= f.number_field :amount %> <br>

  <%= f.submit 'Send money!'%>

 <%end%>
